/* ---------- CUSTOM PROPERTIES --------------- */

:root {
  --cl-body-bg: 0, 0%, 11%;
  --cl-input-color-bg: 0, 0%, 90%;
  --cl-border: 216, 12%, 84%;

  /* Light mode */
  --cl-bg: 0, 0%, 100%;
  --cl-select-option: 221, 39%, 11%;
  --cl-submit: 217, 19%, 27%;
  --cl-submit-bg: 0, 0%, 100%;
  --cl-submit-border: 216, 12%, 84%;
  --cl-hex: 250, 18%, 19%;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark mode */
        --cl-bg: 215, 28%, 17%;
        --cl-select-option: 255, 5%, 84%;
        --cl-submit: 0, 0%, 100%;
        --cl-submit-bg: 216, 22%, 31%;
        --cl-submit-border: 216, 22%, 31%;
        --cl-hex: 255, 5%, 84%;
    }
}

/* RESET */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Set up body */
body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  margin: 10vh auto;
  background-color: hsl(var(--cl-body-bg));
}

/* ---------------- UTILITY CLASSES ------------------*/

.container,
.hex {
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 34.375rem;
}

.grid {
  display: grid;
}

.color {
  width: 100%;
  max-width: 6.875rem;
  height: 45vh;
}

.hex {
  background-color: hsl(var(--cl-bg));
  color: hsl(var(--cl-hex));
  padding: 0.75rem 0;
  text-align: center;
}

/* ----------------- TYPOGRAPHY ------------------- */

input,
select {
  font-family: inherit;
}

option:checked {
    font-weight: 600;
}

input[type="submit"] {
  font-size: 0.75rem;
  font-weight: 500;
}

.hex {
  font-size: 0.875rem;
  font-weight: 500;
}

/* ----------------- FORM ------------------- */

input,
select {
  cursor: pointer;
  background-color: inherit;
  border: 1px solid hsl(var(--cl-border));
}

input[type="color"] {
  background-color: hsl(var(--cl-input-color-bg));
  width: 3.75rem;
  height: 2.625rem;
}

select {
  color: hsl(var(--cl-select-option));
  border-radius: 0.375rem;
  width: 19.5rem;
  padding: 0.625rem 0.75rem;
}

input[type="submit"] {
  color: hsl(var(--cl-submit));
  background-color: hsl(var(--cl-submit-bg));
  padding: 0.75rem 0.875rem;
  border: 1px solid hsl(var(--cl-submit-border));
  border-radius: 0.25rem;
}

/* ---------------- LAYOUT -------------------- */

header > .container {
  padding: 1.5rem 0.875rem;
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  background-color: hsl(var(--cl-bg));
}

main > .container {
  grid-template-rows: auto auto;
  grid-template-columns: repeat(5, 1fr);
}
