/* ---------- CUSTOM PROPERTIES --------------- */

:root {
    /* Light mode */
    --cl-body-bg: 0, 0%, 90%;
    --cl-white-bg: 0, 0%, 100%;
    --cl-select-option-light: 221, 39%, 11%;
    --cl-submit-light: 217, 19%, 27%;
    --cl-hex-light: 250, 18%, 19%;
    --cl-border-light: 216, 12%, 84%;

    /* Dark mode */
}

/* RESET */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Set up body */
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    margin: 10vh auto;
    background-color: hsl(var(--cl-body-bg));
}

/* ---------------- UTILITY CLASSES ------------------*/

.container,
.hex {
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 34.375rem;
}

.grid {
    display: grid;
}

.color {
    background-color: #000080;
    width: 100%;
    max-width: 6.875rem;
    height: 45vh;

    border: 1px solid limegreen;
}

.hex {
    color: hsl(var(--cl-hex-light));
    padding: .75rem 0;
    font-size: .875rem;
    font-weight: 500;
}

/* ----------------- TYPOGRAPHY ------------------- */

/* ----------------- FORM ------------------- */

input,
select {
    cursor: pointer;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    border: 1px solid hsl(var(--cl-border-light));
}

input[type="color"] {
    background-color: hsl(var(--cl-body-bg));
    width: 3.75rem;
    height: 2.625rem;
}

select {
    border-radius: .375rem;
    width: 19.5rem;
    padding: .625rem .75rem;
}

select:focus {
    background-color: red;
}



input[type=submit] {
    padding: .75rem .875rem;
    border-radius: .25rem;
    font-size: .75rem;
    font-weight: 500;
}

/* ---------------- LAYOUT -------------------- */

header > .container {
    padding: 1.5rem .875rem;
    display: flex;
    justify-content: space-between;
    gap: .75rem; 
    background-color: hsl(var(--cl-white-bg));
}

main > .container {
    grid-template-rows: auto auto;
}

.colors,
.hexes {
    grid-template-columns: repeat(5, 1fr);
}

.hexes {
    background-color: hsl(var(--cl-white-bg));
}